# Expo & React Native
######################
node_modules/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
ios/build/
android/build/
android/app/src/main/assets/shell-app.bundle
android/app/src/main/assets/shell-app-manifest.json

# macOS
########
.DS_Store
.AppleDouble
.LSOverride

# Windows
##########
Thumbs.db
ehthumbs.db
Desktop.ini

# Various IDEs
##############
.idea/
*.swp
*.swo
*.swn
*.log
*.tmp
*.temp
.vscode/

# Python Environment
#####################
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Others
########
.yarn/
.yarn-cache/
coverage/
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
